page {
  font-size: 28rpx;
  font-family: 'PingFang SC-Medium', 'PingFang SC', 'Microsoft Yahei';
}

.page-full {
  height: 100vh;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex.items-center {
  align-items: center;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex.justify-center {
  justify-content: center;
}

.flex.center {
  align-items: center;
  justify-content: center;
}

.flex.column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}